html{
  min-height: 100%;
}

body {
  background: url(/img/image_debucourt_philibert_louis_barriere_de_reuilly_g.22090_457510.jpg) no-repeat;
  background-size: 100%;
  background-position: top;
  min-height: 100vh;
}
